<div>
    <a>Input: </a>
    @foreach (var item in ViewBag.input)
    {
        <a>@item</a>
    }

</div>
<div>
    <a>Cipher: </a>
    @foreach (var item in ViewBag.Cipheroutput)
    {
        <a>@item</a>
    }

</div>
<div>
    <a>Decipher: </a>
    @foreach (var item in ViewBag.Decipheroutput)
    {
        <a>@item</a>
    }

</div>
<div>
    <a>@ViewBag.s</a>
</div>
