@{


}
<form method="post" enctype="multipart/form-data">
    @*file*@
    <div class="form-group">
        <label for="exampleFormControlFile1">Plik</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <div>
        <label for="key">Key</label>
        <input type="text" name="key" id="key" class="form-control" placeholder="Key" />
    </div>
    <div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="algorithm" id="algorithm" checked="checked" value="1"> RailFence
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="algorithm" id="algorithm" value="2"> Przestawienie MAcierzowe A
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="algorithm" id="algorithm" value="3"> Przestawienie MAcierzowe B
            </label>
        </div>
    </div>
    <div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="option" id="option" checked="checked" value="1"> Szyfrowanie
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="option" id="option" value="0"> Deszyfrowanie
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div>

    </div>
</form>
<label>Output:</label>
<pre>@ViewBag.result</pre>
<pre>@ViewBag.code</pre>


