@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a class="btn btn-primary" href="/Home/Algorithms" role="button">Zadanie 1</a>
    <a class="btn btn-primary" href="/Zadanie2/Algorithms" role="button">Zadanie 2</a>
    <a class="btn btn-primary" href="/Zadanie3/Algorithms" role="button">Zadanie 3</a>
    <a class="btn btn-primary" href="/Zadanie4/Algorithms" role="button">Zadanie 4</a>
</div>
