@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <a class="btn btn-primary" href="/Home/Algorithms" role="button">Zadanie 1</a>
    <a class="btn btn-primary" href="/Zadanie2" role="button">Zadanie 2</a>
</div>
