@{


}

<header>
    <h1>DES</h1>
</header>

<p style="color:red">@ViewBag.Message</p>
<form method="post" enctype="multipart/form-data">
    @*file*@
    <div class="form-group">
        <label for="exampleFormControlFile1">Plik</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <div>
        <label for="key">Key</label>
        <input type="text" name="key" id="key" class="form-control" placeholder="Key" />
    </div>
    <div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="option" id="option" checked="checked" value="1"> Szyfrowanie
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="option" id="option" value="2"> Deszyfrowanie
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div>
        <label>Key: </label>
        <p>@ViewBag.Key</p>
    </div>
    <div>
        <label>Output:</label>
        <br />
        @ViewBag.result
    </div>
</form>
