@{


}

<p style="color:red">@ViewBag.Message</p>
<form method="post" enctype="multipart/form-data">
    @*file*@
    <div class="form-group">
        <label for="exampleFormControlFile1">Plik</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <div>
        <label for="sequence">Tekst jawny/zaszyfrowany</label>
        <input type="text" name="sequence" id="sequence" class="form-control" placeholder="Sequence" />
    </div>
    <div>
        <label for="key">Key</label>
        <input type="text" name="key" id="key" class="form-control" placeholder="Key" />
    </div>
    <div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="algorithm" id="algorithm" checked="checked" value="1"> Przestawienie Macierzowe C
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="algorithm" id="algorithm" value="2"> Szyfr Cezara
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="algorithm" id="algorithm" value="3"> Szyfr Vigenere'a
            </label>
        </div>
    </div>
    <div>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="option" id="option" checked="checked" value="1"> Szyfrowanie
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="option" id="option" value="0"> Deszyfrowanie
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div>
        <label>Output:</label>
        @foreach (string line in ViewBag.result)
        {
            <pre>@line</pre>
        }
    </div>
</form>



